<h1>New Course</h1>
    <% if @course.errors.any? %>
        <% @course.errors.full_messages.each do |error_message| %>
        <span class="error-text", style="color:red"><strong><%= error_message %> !!! </strong></span><br>
        <% end %>
    <% end %>
<%= render 'form' %>